---
import Layout from "../components/Layout.astro";
---

<Layout>
  <p>
    Assorted side projects by the <a
      href="https://x.com/htmx_org/status/1744809375883989061"
      >co-CEOs of HTMX</a
    >.
  </p>
  <h2>Links</h2>
  <ul>
    <li><a href="https://hborg.org">hborg.org</a></li>
    <li><a href="https://quinn.io">quinn.io</a></li>
    <li><a href="https://lifts.hborg.org">lifts.hborg.org</a></li>
    <li><a href="https://lifts.quinn.io">lifts.quinn.io</a></li>
    <li><a href="https://betterbike.app">betterbike.app</a></li>
    <li><a href="https://github.com/politicker">github.com/politicker</a></li>
  </ul>
</Layout>
