---

---

<style>
  body {
    margin: 0;
    background-color: #100610;
    font-family: Verdana;
    color: #f5f5f5;
  }

  .root {
    padding: 0 30px;
  }
</style>

<div class="root">
  <h1>Politicker</h1>
  <hr />
  <slot />
</div>
