---

---

<style>
  body {
    margin: 0;
    background-color: darkslategrey;
    font-family: Verdana;
  }

  .root {
    padding: 0 30px;
  }
</style>

<div class="root">
  <h1>Politicker</h1>
  <slot />
</div>
